@{
    ViewBag.Title = "Home Page";
}


<div id="colMenu">
</div>

<div class="row">
    <table id="table">
        <thead>
            <tr>
                @foreach(DTS.DataTables.MVC.ColumnHeader col in ViewBag.Columns)
                {
                    <th>@col.name</th>
                }
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script type="text/html" id="tmplColItem">
    <div class="span-3"><input class="colItem" type="checkbox" value="{{col}}" data-column="{{target}}" {{isChecked}} />{{col}}</div>
</script>

<script type="text/html" id="tmplFipsChoice">
    <option value="{{fips}}">{{fips}}</option>
</script>
@section styles {
    @Styles.Render("~/content/datatables")
    <style type="text/css">
        ul.ColVis_collection { width: 886px; left: 280px !important;  }
        ul.ColVis_collection li { width: 160px; float: left; font-size: .8em !important;}
        div#table_filter { display: none;}
    </style>
}

@section scripts {
    
    
    @Scripts.Render("~/bundles/datatables")

<script type="text/javascript">
    var columnHeaders = $.parseJSON('@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Columns))'.replace(/&quot;/g, '"'));
    var fipsChoices = $.parseJSON('@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FipsChoices))'.replace(/&quot;/g, '"'));
    $(document).ready(function () {
        // populate the col menu
        var $colMenu = $('#colMenu');

        var table = $('#table').DataTable({
            "stateSave": true
            , "pagingType": "full_numbers"
            , "length": 20
            , "processing": true
            , "serverSide": true
            , "filter" : true
            , "pagingType": "full"
            , "ajax": {
                "url": '@Url.Action("Get", "Home")'
                , pages: 5
                , "type": "POST"
            }
            , columns: columnHeaders
            , "order": [[1, 'asc'], [2, 'asc'],[3, 'asc']]
            , "scrollX": true /*makes table responsive; otherwise fixes width*/
            , "dom": 'C<"clear">lfrtip'
            , "fnDrawCallback": function (settings) {
            }
        });

        var $select = $('<label>FIPS <select><option></option></select></label>');
        $.each(fipsChoices, function (i, fips) {
            // get selected fips
            var selectedFips = table.columns(1).search()[0];
            var obj = { fips: fips };
            $select.find('select').append(ich.tmplFipsChoice(obj)).val(selectedFips);
        });

        // append fips filter
        $('div.dataTables_length').append($select);

        // hook in change
        $select.find('select').on('change', function () {
            //console.log(table.columns(1).search());
            table.columns(1).search($(this).find('option:selected').val()).draw();
        });
    });
</script>




}